<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link type="text/css" rel="styleSheet"  href="https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/css/layui.css" />
    <script type="text/javascript" src="https://heerey525.github.io/layui-v2.4.3/layui-v2.4.5/layui.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>

<body id="body">
<h1 th:align="center">商户测试</h1>
<button class="export_excel">导出</button>
<table border="1" align="center">
    <tr>
        <td>序号</td>
        <td>分销商编号</td>
        <td>合作商户编号</td>
        <td>排序编号</td>
        <td>获取图片链接</td>
        <td>是否展示</td>
        <td>合作商户链接</td>
        <td>商户名称</td>
    </tr>

    <tr th:each="item : ${eCooperateMerList}">
        <td th:text="${itemStat.count}"></td>
        <td th:text="${item.agentMerSeq}"></td>
        <td th:text="${item.cooperateMerSeq}"></td>
        <td th:text="${item.eOrder}"></td>
        <td th:text="${item.imageLink}"></td>
        <td th:text="${item.isShow}"></td>
        <td th:text="${item.merLink}"></td>
        <td th:text="${item.merName}"></td>
    </tr>

</table>
<!--<input th:value="${eCooperateMer.cooperateMerSeq}">-->
<!--<input th:value="${eCooperateMer.merName}">-->
<!--<input th:value="${eCooperateMer.agentMerSeq}">-->
<br/>
<br/>
</body>

</html>

<script>

    $(function () {
        $(".export_excel").click(function () {
            window.location.href="/cloud/exportECooperateMerList";
            // $.ajax({
            //     type: "POST",
            //     url: "/cloud/exportECooperateMerList",
            //     dataType: "json",
            //     success: function (data) {
            //         if (data.resultCode == "1") {
            //
            //         } else {
            //             alert("导出失败");
            //         }
            //     },
            //     error: function () {
            //         alert("系统异常，请稍候再试！");
            //     }
            // });
        })
    })

</script>

<style>

    .export_excel {
        width: 61px;
        height: 30px;
        position: absolute;
        left: 1122px;
        top: 10px;
    }

</style>