<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->

<!--<body>-->

<!--这是index.html<br>-->
<!--<p th:text="${name}">name</p>-->
<!--姓名:<span th:text="${user.name}"></span><br>-->
<!--地址:<span th:text="${user.address}"></span><br>-->
<!--年龄:<span th:text="${user.getAge()}"></span><br><br>-->

<!--<div th:object="${user}">-->
<!--    姓名:<span th:text="*{name}"></span><br>-->
<!--    地址:<span th:text="*{address}"></span><br>-->
<!--    年龄:<span th:text="*{getAge()}"></span><br>-->
<!--</div>-->

<!--<a href="info.html" th:href="@{'http://localhost:8080/boot/user/'}">绝对路径</a><br>-->
<!--<a href="info.html" th:href="@{'boot/user/'}">相对当前页面</a><br>-->
<!--&lt;!&ndash;第一个/表示项目的根路径 推荐 &ndash;&gt;-->
<!--<a href="info.html" th:href="@{'/boot/user/'}">相对项目上下文的</a><br>-->

<!--================================================-->
<!--<br><br><br><br><br><br>-->
<!--======================常见属性开始==========================<br>-->
<!--&lt;!&ndash; 如果if 中的表达式为true 则将这个标签以及标签的内容显示出出来，否则连同整个标签都不会显示&ndash;&gt;-->
<!--<span th:if="${user.age<20}">-->
<!--        大于20岁-->
<!--    </span><br><br>-->
<!--&lt;!&ndash; 如果unless 中的表达式为false 则将这个标签以及标签的内容显示出出来，否则连同整个标签都不会显示&ndash;&gt;-->
<!--<span th:unless="${user.sex==1}">-->
<!--        男-->
<!--    </span>-->

<!--<span th:unless="${user.sex==2}">-->
<!--        女-->
<!--    </span>-->

<!--<br>-->
<!--<br>-->
<!--<table>-->
<!--    <tr>-->
<!--        <td>序号</td>-->
<!--        <td>姓名</td>-->
<!--        <td>年龄</td>-->
<!--        <td>地址</td>-->
<!--        <td>性别</td>-->
<!--        <td>操作</td>-->
<!--    </tr>-->
<!--    <tr th:each="user2:${userList}">-->
<!--        <td th:text="${user2Stat.count}">序号</td>-->
<!--        <td th:text="${user2.name}">姓名</td>-->
<!--        <td th:text="${user2.age}">年龄</td>-->
<!--        <td th:text="${user2.address}">地址</td>-->
<!--        <td th:if="${user2.sex==1}">男</td>-->
<!--        <td th:if="${user2.sex==2}">女</td>-->
<!--        <td>删除 修改</td>-->
<!--    </tr>-->
<!--</table>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<table>-->
<!--    <tr>-->
<!--        <td>序号</td>-->
<!--        <td>姓名</td>-->
<!--        <td>年龄</td>-->
<!--        <td>地址</td>-->
<!--        <td>性别</td>-->
<!--        <td>操作</td>-->
<!--    </tr>-->
<!--    &lt;!&ndash; userMap 是Map集合-->
<!--        因此迭代时当前元素 user2 不是User对象-->
<!--        而是Map集合中存放数据的哪个Node对象，-->
<!--        因此我们需要使用 user2.key获取这个Node对应key值-->
<!--        使用 user2.value获取这个Node对应value值 这个值才是我们存到Map中的User对象-->
<!--    &ndash;&gt;-->
<!--    <tr th:each="user2:${userMap}">-->
<!--        <td th:text="${user2Stat.count}">序号</td>-->
<!--        <td th:text="${user2.value.name}">姓名</td>-->
<!--        <td th:text="${user2.value.age}">年龄</td>-->
<!--        <td th:text="${user2.value.address}">地址</td>-->
<!--        <td th:if="${user2.value.sex==1}">男</td>-->
<!--        <td th:if="${user2.value.sex==2}">女</td>-->
<!--        <td>删除 修改</td>-->
<!--    </tr>-->
<!--</table>-->
<!--<br> <br>-->
<!--&lt;!&ndash; switch case-->
<!--    当子标签中的某个case的值与swithc中获取的数据相同，则进入到这个case将标签与标签的内容显示出来-->
<!--    如果所有的case都没有匹配则进入到case="*” 所对应的标签-->
<!--&ndash;&gt;-->
<!--<span th:switch="${number}">-->
<!--        <p th:case="1">星期一</p>-->
<!--        <p th:case="2">星期二</p>-->
<!--        <p th:case="3">星期三</p>-->
<!--        <p th:case="4">星期四</p>-->
<!--        <p th:case="5">星期五</p>-->
<!--        <p th:case="6">星期六</p>-->
<!--        <p th:case="7">星期日</p>-->
<!--        <p th:case="*">数据错误</p>-->
<!--    </span>-->

<!--<br>-->
<!--<br>-->

<!--<form th:action="@{/updateUser}">-->
<!--    姓名:<input th:value="${user.name}"><br>-->
<!--    年龄:<input th:value="${user.age}"><br>-->
<!--    地址:<input th:value="${user.address}"><br>-->
<!--    性别:-->
<!--    <span th:if="${user.sex==1}">男<input type="radio" value="1" checked>女<input type="radio" value="2"></span>-->
<!--    <span th:if="${user.sex==2}">男<input type="radio" value="1">女<input type="radio" value="2" checked></span>-->
<!--    -->
<!--    <br>-->
<!--    <input type="submit" value="修改"> <br>-->
<!--</form>-->
<!--<br><br><br><br><br>-->
<!--&lt;!&ndash;内联 th:inline 在页面直接显示数据可以省略th:inline-->
<!--    然后使用获取数据直接显示到页面-->
<!-- &ndash;&gt;-->
<!--<span>-->
<!--        姓名:[[${user.name}]]<br>-->
<!--        地址:[[${user.address}]]<br>-->
<!--    -->
<!--</span>-->
<!--&lt;!&ndash;在SpringBoot2.x以后在js中也可不使用th:inline 但是在取值的时候需要添加"" &ndash;&gt;-->
<!--<script type="text/javascript">-->
<!--    alert("[[${user.name}]]")-->
<!--</script>-->
<!--<script th:inline="javascript" type="text/javascript">-->

<!--    alert([[${user.name}]])-->
<!--</script>-->

<!--======================常见属性结束==========================<br>-->

<!--======================字面量开始==========================<br>-->
<!--&lt;!&ndash; 字符串自面量-->
<!--    可以使用+ 进行拼接-->
<!--    但是如果动态数据和一个静态字面拼接这个字面量必须使用''括起来-->
<!-- &ndash;&gt;-->
<!--<a th:href="@{'deleteUser?id='+${user.sex}+'&age='+${user.age}}">删除</a><br>-->
<!--======================字面量结束==========================<br>-->

<!--======================字符串拼接开始==========================<br>-->

<!--<a th:href="@{'deleteUser?id='+${user.sex}+'&age='+${user.age}}">删除</a><br>-->
<!--&lt;!&ndash;使用 ||  完成字符串的拼接 可以实现字符串与动态数据混排的效果 &ndash;&gt;-->
<!--<a th:href="@{|deleteUser?id=${user.sex}&age=${user.age}|}">删除</a><br>-->

<!--======================字符串拼接结束==========================<br>-->

<!--</body>-->

<!--</html>-->